{{extend 'layout.html'}}

<div>
    <p style="text-align: center">
    {{=T('Welcome to SEEDA, a system which will allow you to obtain an objective evaluation of your agriculture '
	'development estrategy. This system will permit you to know the impact of your strategy by taking into account '
	'some specific aspects which will be evaluated by a group of experts. Those experts will emit their own opinions '
	'about the proposal and for that matter they will have access to the available files and informative tables as '
	'reference data.')}}
    </p>
</div>
<!--<img src="{{=URL('static', 'images/1.png')}}" width="220" height="220" />
-->

<script src="{{=URL('static', 'js/app_portada.js')}}"></script>

